<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_BUNDLE_ID</key>
	<string>$(APP_FILE_SHARING_BUNDLE_ID)</string>
	<key>APP_FILE_SHARING_BUNDLE_ID</key>
	<string>$(APP_FILE_SHARING_BUNDLE_ID)</string>
	<key>APP_NAME</key>
	<string>$(APP_NAME)</string>
	<key>BASE_API_URL</key>
	<string>$(BASE_API_URL)</string>
	<key>BUILD_TYPE</key>
	<string>$(BUILD_TYPE)</string>
	<key>CFBundleName</key>
	<string>$(APP_FILE_SHARING_APP_NAME)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsSupported</key>
			<array/>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY (
    extensionItems,
    $extensionItem,
    SUBQUERY (
        $extensionItem.attachments,
        $attachment,
        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.movie&quot; ||
        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.image&quot;
    ).@count == $extensionItem.attachments.@count
).@count &gt; 0</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
	</dict>
</dict>
</plist>
