//
//  Production.xcconfig
//  Stingle
//
//  Created by Khoren Asatryan on 3/3/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = Stingle Photos
APP_BUNDLE_ID = org.stingle.photos

DEFAULT_API_URL = https:/$()/api.stingle.org/v2
BASE_API_URL = $(DEFAULT_API_URL)
BUILD_TYPE = Production

APP_FILE_SHARING_BUNDLE_ID = org.stingle.photos.sharing
APP_FILE_SHARING_APP_NAME = StinglePhotosShare
